<script type="text/javascript" src="/res/mobiscroll/js/mobiscroll.core.js"></script>
<script type="text/javascript" src="/res/mobiscroll/js/mobiscroll.datetime.js"></script>
<script type="text/javascript" src="/res/mobiscroll/js/mobiscroll.i18n.zh.js"></script>
<script type="text/javascript" src="/res/mobiscroll/js/mobiscroll.scroller.android.js"></script>
<script type="text/javascript" src="/res/mobiscroll/js/mobiscroll.scroller.js"></script>
<script type="text/javascript" src="/res/mobiscroll/js/mobiscroll.select.js"></script>

<link href="/res/mobiscroll/css/mobiscroll.animation.css" rel="stylesheet">
<link href="/res/mobiscroll/css/mobiscroll.icons.css" rel="stylesheet">
<link href="/res/mobiscroll/css/mobiscroll.scroller.android.css" rel="stylesheet">
<link href="/res/mobiscroll/css/mobiscroll.scroller.css" rel="stylesheet">