<!DOCTYPE html>
<#include "include/_layout.html" />
<@layout page_title="管理后台">

<div class="container" style="margin-right: inherit; margin-left: inherit;">
<fieldset>
	<legend>修改密码</legend>
	<form class="form-horizontal" role="form" id="formsId" method="post">
		<div class="form-group">
		    <label class="col-sm-2 control-label" for="oldpassword">老密码</label>
		    <div class="col-sm-10">
		    <input type="password" class="form-control" id="oldpassword" required="required" name="oldpassword" placeholder="老密码">
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 control-label" for="newpassword">新密码</label>
		    <div class="col-sm-10">
		    <input type="password" class="form-control" id="newpassword" required="required" name="newpassword" placeholder="新密码">
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 control-label" for="renewpassword">确认新密码</label>
		    <div class="col-sm-10">
		    <input type="password" class="form-control" id="renewpassword" required="required" name="renewpassword" placeholder="确认新密码">
		    </div>
	  	</div>
	  	<div class="form-group">
	  	<label class="col-sm-2 control-label" for=""></label>
	  	<div class="col-sm-10">
	  	<button type="button" class="btn btn-primary btn">修改</button>
	  	</div>
	  	</div>
	</form>
<script type="text/javascript">
$(function(){
	$('.btn').click(function(){
		$.post("/rc/admin/repwd",$("form").serialize(),function(result){
			if(result.code=="0"){
				alert(result.info);
				window.location.reload();
			}else{
				alert(result.info);
				return;
			}
		},'json');
	});
});
</script>
</fieldset>
</div>
</@layout>